name: Build Release
permissions:
  contents: write
  actions: read

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    paths:
      - "source/**"
      - "test/**"
  push:
    paths:
      - "source/**"
      - "test/**"

jobs:
  build:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)

    runs-on: windows-latest
    strategy:
      matrix:
        targetplatform: [x64]
        ChannelName: [Release]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config --global user.email "github-actions@example.com"
          git config --global user.name "GitHub Actions"

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore "source/FluentAurora/FluentAurora.csproj"

      - name: Build the app
        run: dotnet publish -c Release -r win-x64 --self-contained false -p:DebugType=none -p:PublishReadyToRun=false -p:PublishSingleFile=true -p:IncludeAllContentForSelfExtract=true -p:PublishTrimmed=false  -o publish/desktop "source/FluentAurora/FluentAurora.csproj"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fluent_aurora
          path: ./publish/desktop/
          if-no-files-found: error

  create-release:
    name: Create Release
    needs: build
    if: |
      github.repository == 'fluent-aurora/fluent-aurora' &&
      github.event_name == 'workflow_dispatch' &&
      github.ref == 'refs/heads/main'
    uses: ./.github/workflows/release.yml
